body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.reader {
    border: 1px solid #ccc;
    padding: 20px;
    height: 400px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.dark-mode {
    background-color: #222;
    color: #f5f5f5;
}

.dark-mode .reader {
    background-color: #333;
    color: #fff;
}

#bookContent {
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
}
